{% load bootstrap5 %}
{% if form.non_field_errors %}
  <div class = "alert alert-danger" role = "alert">
    {% for error in form.non_field_errors %}
    <p{%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
    {%endfor%}
   </div>
 {%endif%}

 {%for field in form %}
   <div class = "mb-3">
     {%if field.is_hidden%}
         {{field}}
     {%else%}
       {{field.label_tag}}
         {% if field.help_text %}
           <small class = "form-text text-muted">{{field.help_text}}</small>
         {%endif%}
         {{field}}
         {%for error in field.errors%}
             <div class = "invalid-feedback d-block">
                 {{error}}
             </div>
         {%endfor%}
     {%endif%}
     </div>
  {%endfor%}