{% extends 'rentals/base.html' %}
{% load bootstrap5 %}

{% block title %}Booking Details{% endblock %}

{% block content %}
<h2>Booking Details</h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<p><strong>Listing:</strong> <a href="{% url 'listing_detail' booking.listing.slug %}">{{ booking.listing.title }}</a></p>
<p><strong>Booked by:</strong> {{ booking.user.email }}</p>
<p><strong>Check-in Date:</strong> {{ booking.check_in_date }}</p>
<p><strong>Check-out Date:</strong> {{ booking.check_out_date }}</p>
<p><strong>Number of Guests:</strong> {{ booking.num_guests }}</p>
<p><strong>Total Price:</strong> ${{ booking.total_price }}</p>
<p><strong>Status:</strong> {% if booking.is_confirmed %}Confirmed{% else %}Pending{% endif %}</p>
<p><strong>Created At</strong>{{booking.created_at}}</p>

 {% if user == booking.user and not booking.is_confirmed %}
    <a href="{% url 'create_payment' booking.id %}" class="btn btn-success">Make Payment</a>
    <a href="{% url 'cancel_booking' booking.id %}" class = "btn btn-danger">Cancel Booking</a>
{% endif %}

{% endblock %}