{% extends 'rentals/base.html' %}
{% load bootstrap5 %}
{% block title %}Create Review{% endblock %}

{% block content %}
<h2>Leave a Review for {{ listing.title }}</h2>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class = "btn btn-primary">Submit Review</button>
</form>
{% endblock %}