{*{% extends 'rentals/base.html' %}*}
{% load django_bootstrap5 %}
{% block title %}Inbox{% endblock %}

{% block content %}
<h2>Inbox</h2>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if conversations %}
    <ul class = "list-group">
    {% for conversation in conversations %}
        <li class="list-group-item">
            <a href="{% url 'conversation_detail' conversation.id %}">
                Conversation with:
                {% for user in conversation.participants.all %}
                    {% if user != request.user %}
                        {{ user.email }}
                    {% endif %}
                {% endfor %}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No conversations yet.</p>
{% endif %}
{% endblock %}