{% extends 'rentals/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Edit Listing{% endblock %}

{% block content %}
<h2>Edit Listing: {{ listing.title }}</h2>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

    {{ formset.management_form }}
     <h3>Images</h3>
    <div id="image-formset">
        {% for form in formset %}
        <div class="image-form">
            {% bootstrap_form form %}
             {% if form.instance.pk %}
                <div class = "mt-2">
                    <img src="{{ form.instance.image.url }}" alt="Listing Image" style="max-width: 200px; height: auto;">
                </div>
             {% endif %}
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Update Listing</button>
    <a href = "{% url 'listing_detail' listing.slug %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}