{% extends 'rentals/base.html' %}
{% load bootstrap5 %}

{% block title %}Create Listing{% endblock %}

{% block content %}
<h2>Create Listing</h2>
 {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}

    {{ formset.management_form }}
    <h3>Images</h3>
    <div id="image-formset">
        {% for form in formset %}
        <div class="image-form">
            {% bootstrap_form form %}
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Create Listing</button>
</form>
{% endblock %}