{% extends 'rentals/base.html' %}
{% load django_bootstrap5 %}

{% block title %}My Listings{% endblock %}

{% block content %}
<h2>My Listings</h2>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if listings %}
<div class="row">
    {% for listing in listings %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{% if listing.images.all %}{{ listing.images.all.0.image.url }}{% else %}https://via.placeholder.com/400x300{% endif %}" class="card-img-top" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">Price: ${{ listing.price_per_night }}</p>
                <a href="{% url 'listing_detail' listing.slug %}" class="btn btn-primary">View Details</a>
                <a href="{% url 'edit_listing' listing.slug %}" class="btn btn-warning">Edit</a>
            </div>
        </div>
    </div>
     {% empty %}
    <div class="col">
        <p>No listings available.</p>
    </div>
    {% endfor %}

</div>
{% else %}
<p>You haven't created any listings yet.</p>
<a href="{% url 'create_listing' %}" class="btn btn-primary">Create Listing</a>
{% endif %}
{% endblock %}