{% extends 'rentals/base.html' %}
{% load bootstrap5 %}
{% block title %}Payment Cancelled{% endblock %}

{% block content %}
<h2>Payment Cancelled</h2>
<p>Your payment was cancelled. Your booking for <strong>{{ booking.listing.title }}</strong> is not confirmed.</p>
 <a href="{% url 'create_booking' booking.listing.slug %}" class = "btn btn-warning">Try Again</a>
<a href="{% url 'my_bookings' %}" class="btn btn-primary">View My Bookings</a>
<a href="{% url 'listing_detail' booking.listing.slug %}" class="btn btn-secondary">View Listing</a>
{% endblock %}