{% extends 'rentals/base.html' %}
{% load bootstrap5 %}
{% block title %}Payment Successful{% endblock %}

{% block content %}
<h2>Payment Successful!</h2>
<p>Thank you for your payment. Your booking for <strong>{{ booking.listing.title }}</strong> is now confirmed.</p>
<p>Booking ID: {{ booking.id }}</p>
<p>Transaction ID: {{ booking.payment.transaction_id }}</p>

<a href="{% url 'my_bookings' %}" class="btn btn-primary">View My Bookings</a>
<a href="{% url 'listing_detail' booking.listing.slug %}" class = "btn btn-secondary">View Listing</a>
{% endblock %}