{% extends "account/base.html" %}
{% load bootstrap5 %}
{% block title %}Change Password{% endblock %}

{% block inner_content %}
<h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

{% if token_fail %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% else %}
    <form method="post" action="{% url 'account_reset_password_from_key' token=token %}">
        {% csrf_token %}
         {% bootstrap_form form %}
        <button type = "submit" class = "btn btn-primary">Change Password</button>
    </form>
{% endif %}
{% endblock %}