{% extends "account/base.html" %}
{% load bootstrap5 %}
{% block title %}Password Reset{% endblock %}

{% block inner_content %}
<h1>Password Reset</h1>

<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

<form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
     {% bootstrap_form form %}
    <button type="submit" class = "btn btn-primary">Reset My Password</button>
</form>

<p>Please contact us if you have any trouble resetting your password.</p>
{% endblock %}