{% extends 'base.html' %}

 {% block content %}
     <h2>Edit Listing: {{ listing.title }}</h2>
     {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endfor %}
         </ul>
     {% endif %}
     <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.as_p }}
          {{ formset.management_form }}
         <h3>Images</h3>
         {% for form in formset %}
             {{form.as_p}}
         {% endfor %}
         <button type="submit">Update Listing</button>
     </form>
 {% endblock %}