{% extends 'base.html' %}

    {% block content %}
    <h2>My Bookings</h2>
    {% if bookings %}
    <ul>
        {% for booking in bookings %}
        <li>
            {{ booking.listing.title }} -
            {{ booking.check_in_date }} to {{ booking.check_out_date }} -
            {% if booking.is_confirmed %}
                Confirmed
            {% else %}
               {% if booking.check_in_date >= todays_date %}
                    <a href="{% url 'cancel_booking' booking.id %}">Cancel Booking</a>
                {% else %}
                    Cancelled/Finished
                {% endif %}
            {% endif %}

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You have no bookings.</p>
    {% endif %}

    {% endblock %}